<div class ="loginRegisterContainer">
  <div class ="formContainer">
    <div class="logoContainer">
    </div>
    <form class ="form"  novalidate  [formGroup]="loginForm" (ngSubmit)="save($event)">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Sign in " >
          <mat-form-field >
            <mat-label>Email</mat-label>
            <input name="email" matInput placeholder="user@example.com" formControlName="email" required>
          </mat-form-field>
                        <!--validación del correo-->
          <div *ngIf="emailField!.errors && emailField!.touched ">
            <p *ngIf="emailField!.hasError('required')" class="messageError" >El campo es requerido</p>
            <p *ngIf="emailField!.hasError('email')" class="messageError" >Ingrese correo valido</p>
          </div>

          <mat-form-field >
            <mat-label>Password</mat-label>
            <input name="password" matInput [type]="hide ? 'password' : 'text'"  autocomplete="on" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

                        <!--validación de la contraseña-->
          <div *ngIf="passwordField!.errors && passwordField!.touched ">
            <p *ngIf="passwordField!.hasError('required')" class="messageError">El campo es requerido</p>
            <p *ngIf="passwordField!.hasError('minlength')" class="messageError">Ingrese mínimo 6 carácteres</p>
          </div>

          <button class="buttonSent" type="submit"  (click)="login=true;">Enter</button>
          <button class="buttonSent" type="button" (click)="clear()">Clear</button>
        </mat-tab>

        <mat-tab label="Sign up">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input name="email" matInput placeholder="user@example.com"  required formControlName="email">
          </mat-form-field>

          <!--validación del correo-->
          <div *ngIf="emailField!.errors && emailField!.touched ">
            <p *ngIf="emailField!.hasError('required')" class="messageError" >El campo es requerido</p>
            <p *ngIf="emailField!.hasError('email')" class="messageError" >Ingrese correo valido</p>
          </div>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input name="password" matInput [type]="hide ? 'password' : 'text'"  autocomplete="on" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <!--validación de la contraseña-->
          <div *ngIf="passwordField!.errors && passwordField!.touched ">
            <p *ngIf="passwordField!.hasError('required')" class="messageError">El campo es requerido</p>
            <p *ngIf="passwordField!.hasError('minlength')" class="messageError">Ingrese mínimo 6 carácteres</p>
          </div>
          <button class="buttonSent" type="submit" (click)="login=false">Register</button>
          <button class="buttonSent" type="button" (click)="clear()">Clean</button>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>

  <div>
    <button class="buttonBack" type="button" (click)="navigateHome()">Regresar</button>
  </div>
</div>

