.loginRegisterContainer {
  background: url("../../assets/fondo.jpg")  no-repeat center center;
  background-size: cover;
  width:100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.logoContainer {
  background: url("../../assets/logomarvel.jpg")  no-repeat center center;
  background-size: cover;
  height: 180px;
  width: 180px;
  border-radius: 90px;
  background-color: black;
  margin:0% auto;
}
.formContainer {
    background-color: rgba(238, 234, 234, 0.911);
    position: relative;
    padding: 30px 40px;
    border-radius: 20px;
    border:3px solid rgb(14, 13, 13);
    box-shadow:3px 3px 3px 3px rgb(114, 33, 33);
    text-align: center;
    font-family: 'Alfa Slab One';
}
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}
.buttonSent {
 border:0;
 background-color: rgba(20, 19, 19, 0.89);
 color:white;
 border-radius: 10px;
 padding: 10px;
 margin:10px;
 font-size: medium;
 font-family: 'Alfa Slab One';
 width: 80%;
}
.buttonSent:hover {
  border:0;
  background-color:brown;
  color:black;
 }
.buttonBack {
  color:black;
  background-color: white;
  font-size: larger;
  font-family: 'Alfa Slab One';
  margin:10%;
  border-radius: 10px;
  padding:7px 10px;
  width: 100%;
}
::ng-deep .mat-tab-label-content {
  color:black !important;
  font-family: 'Alfa Slab One' !important;
  font-size: medium;
}
::ng-deep .mat-tab-body-content {
  display:flex !important;
  flex-direction: column;
  align-items: center;
}
::ng-deep mat-label {
  color:black;
  font-family: 'Alfa Slab One';
}
.messageError {
  color:red;
  font-size: 13px;
  border-radius:5px;
  width:fit-content;
  font-family: 'Alfa Slab One';
}
@media (min-width:1000px){
  .buttonBack{
    font-size: 25px;
  }
}
