<div class = "HomeContainer">
<div class = "navHome">
 <h1>MARVEL COLLECTION</h1>
 <mat-toolbar>
   <div>
    <span><a routerLink="/">About</a></span>
    <span><a routerLink="/login">Sign in</a></span>
   </div>
 </mat-toolbar>
</div>
<div class="textAbout">
  <div>
   <p>
    In this web page, we offer you very interesting information about "the house of ideas", so
    watch your favorite comics, heroes, series and stories here!
    and learn a little bit more about them.
   </p>
  </div>
</div>
